<div id="blue">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h4>Редактирование графика</h4>

      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!--  bluewrap -->



<%= render 'form' %>

<div class="container">
  <%= link_to 'Back', :back , :class => 'btn btn-primary btn-block' %>
</div>